In [97]:
#Librerias
import pandas as pd
import numpy as np

In [122]:
# Carga de datos crudos
df=pd.read_csv("D:/data/curid_24.csv",sep=";")
df

,CAMPUS,CURID,CURSO,DNI_CARACTERIZADO,NOMBRES,APELLIDOS,USUARIO,NOTA_Cierre_Cuestionariosalida,FECHA_Cierre_Cuestionariosalida,PORCNOTA_Cierre_CuestionarioSalida,...,DIFF_MAXMIN,act_realizada,Porc_act_realizada,DIAS_ACCESO,DIAS_ACTIVIDAD,%_E1,%_E2,%_E3,%_E4,cursos_matriculados
0,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,00001179,IVONNE,MORENO REYNA,179613,-1.0,NaN,NaN,...,58.0,10,12,6.0,6.0,0.38,0.0,0.0,0.62,8.0
1,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,00001179,IVONNE,MORENO REYNA,179613,-1.0,NaN,NaN,...,58.0,10,12,6.0,6.0,0.38,0.0,0.0,0.62,8.0
2,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,00008066,LILA,CARDENAS IJUMA,48309,-1.0,NaN,NaN,...,NaN,0,0,44.0,NaN,0.00,0.0,0.0,1.00,1.0
3,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,00012969,ISAAC,FASABI ZAVALETA,139510,-1.0,NaN,NaN,...,0.0,1,1,388.0,18.0,0.00,0.0,0.0,1.00,8.0
4,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,00012969,ISAAC,FASABI ZAVALETA,139510,-1.0,NaN,NaN,...,0.0,1,1,388.0,18.0,0.00,0.0,0.0,1.00,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29673,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,d9d3f526-820d-49d5-80c2-99d9913096b7,CIRILA,GARCIA TOMAYQUISPE,193985,-1.0,NaN,NaN,...,9.0,4,28,2.0,2.0,0.00,0.0,1.0,0.00,1.0
29674,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,db0e50aa-ad41-43e7-b234-552562babc0c,MARTIN,BECERRA VILLALOBOS,193997,20.0,2022-07-05 07:54:39.000,100.0,...,0.0,16,57,3.0,17.0,0.75,0.0,0.0,0.25,4.0
29675,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,e1c7bf6b-7eca-4098-a277-42b3ff4a81d4,HENRY,ARMAS PONCE,194550,-1.0,NaN,NaN,...,NaN,0,0,3.0,NaN,0.00,0.0,0.0,1.00,3.0
29676,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,f8a41646-64ce-461c-b825-f8c15624f7be,JESUS ANTONIO,SOLANO PEREZ,193736,20.0,2022-07-14 10:07:41.000,100.0,...,21.0,8,57,1.0,8.0,1.00,0.0,0.0,0.00,3.0
29677,7,24,PFCPD-01:Educación híbrida para el desarrollo ...,fb6825c5-aa45-4c74-981a-ee76ef6dfd1a,Unknown,Unknown,177262,-1.0,NaN,NaN,...,NaN,0,0,235.0,NaN,0.00,0.0,0.0,1.00,1.0

In [123]:
df["CUMPLIMIENTO"].value_counts()

NINGUNA ACTIVIDAD         13846
CULMINARON                13607
AL MENOS UNA ACTIVIDAD     2225
Name: CUMPLIMIENTO, dtype: int64

In [124]:
df=df.drop_duplicates()
df.shape

(18731, 121)

In [125]:
variables = ['CUMPLIMIENTO',
                'CONDICION',
                'DESCRIPCION_SUBTIPO_TRABAJADOR',
                'ESCALA',
                'condicion_laboral',
                'DAREACENSO',
                'NIVEL_NEXUS',
                'SEXO',
                'CAMPUS',
                'CURID',
                'CURSO',
                'USUARIO',
                'act_realizada',
                'Porc_act_realizada',
                'MAX_FECHA',
                'DNI_CARACTERIZADO',
                '%_E1',
                '%_E2',
                '%_E3',
                '%_E4',
                'DIAS_ACTIVIDAD',
                'NOTA_Inducción_CuestionarioEntrada',
                'NOTA_Cierre_Cuestionariosalida',
                'cursos_matriculados']

In [126]:
df_1=df.loc[:,variables]

In [127]:
df_1.columns

Index(['CUMPLIMIENTO', 'CONDICION', 'DESCRIPCION_SUBTIPO_TRABAJADOR', 'ESCALA',
       'condicion_laboral', 'DAREACENSO', 'NIVEL_NEXUS', 'SEXO', 'CAMPUS',
       'CURID', 'CURSO', 'USUARIO', 'act_realizada', 'Porc_act_realizada',
       'MAX_FECHA', 'DNI_CARACTERIZADO', '%_E1', '%_E2', '%_E3', '%_E4',
       'DIAS_ACTIVIDAD', 'NOTA_Inducción_CuestionarioEntrada',
       'NOTA_Cierre_Cuestionariosalida', 'cursos_matriculados'],
      dtype='object')

In [128]:
# #Funcion de nulos y count
def side_by_side(*objs, **kwds):
    from pandas.io.formats.printing import adjoin
    space = kwds.get('space',4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))
    print()
    return

side_by_side(df_1.isnull().sum(),df.value_counts())

CUMPLIMIENTO                             0    Series([], dtype: int64)
CONDICION                                0
DESCRIPCION_SUBTIPO_TRABAJADOR         436
ESCALA                                 436
condicion_laboral                      436
DAREACENSO                             436
NIVEL_NEXUS                            436
SEXO                                   436
CAMPUS                                   0
CURID                                    0
CURSO                                    0
USUARIO                                  0
act_realizada                            0
Porc_act_realizada                       0
MAX_FECHA                             8252
DNI_CARACTERIZADO                        0
%_E1                                     0
%_E2                                     0
%_E3                                     0
%_E4                                     0
DIAS_ACTIVIDAD                        8252
NOTA_Inducción_CuestionarioEntrada       0
NOTA_Cierre_Cuestionariosalida           0
cursos_matriculados                      1
dtype: int64

In [129]:
df_1=df_1[df_1["CUMPLIMIENTO"]=="AL MENOS UNA ACTIVIDAD"]

In [130]:
print(df_1.shape)

(1332, 24)

In [131]:
df_curid=df_1.dropna()

In [132]:
side_by_side(df_curid.isnull().sum(),df.value_counts())

CUMPLIMIENTO                          0    Series([], dtype: int64)
CONDICION                             0
DESCRIPCION_SUBTIPO_TRABAJADOR        0
ESCALA                                0
condicion_laboral                     0
DAREACENSO                            0
NIVEL_NEXUS                           0
SEXO                                  0
CAMPUS                                0
CURID                                 0
CURSO                                 0
USUARIO                               0
act_realizada                         0
Porc_act_realizada                    0
MAX_FECHA                             0
DNI_CARACTERIZADO                     0
%_E1                                  0
%_E2                                  0
%_E3                                  0
%_E4                                  0
DIAS_ACTIVIDAD                        0
NOTA_Inducción_CuestionarioEntrada    0
NOTA_Cierre_Cuestionariosalida        0
cursos_matriculados                   0
dtype: int64

In [133]:
print(df_curid["ESCALA"].value_counts())
print(" ")
print(df_curid["condicion_laboral"].value_counts())
print(" ")
print(df_curid["DAREACENSO"].value_counts())
print(" ")
print(df_curid["NIVEL_NEXUS"].value_counts())
print(" ")
print(df_curid["SEXO"].value_counts())

1    585
2    288
3    220
4    115
5     49
6     12
A      6
C      2
B      2
E      2
7      1
Name: ESCALA, dtype: int64

NOMBRADO             806
CONTRATADO           404
DESIGNADO             64
DESTAQUE PROFESOR      8
Name: condicion_laboral, dtype: int64

Rural     1239
Urbana      43
Name: DAREACENSO, dtype: int64

Primaria                          1263
Secundaria                          13
Inicial - Jardín                     5
Básica Alternativa-Inicial e I       1
Name: NIVEL_NEXUS, dtype: int64

FEMENINO     649
MASCULINO    633
Name: SEXO, dtype: int64

In [134]:
df_curid['ESCALA']=pd.to_numeric(df_curid['ESCALA'], errors='coerce')

c:\Users\ccuro\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [135]:
df_curid.condicion_laboral = np.where(df_curid.condicion_laboral == 'NOMBRADO', 1 , 2)
df_curid.DAREACENSO = np.where(df_curid.DAREACENSO == 'Urbana', 0 ,1 )
df_curid.SEXO = np.where(df_curid.SEXO == "FEMENINO",2,1)
df_curid.NIVEL_NEXUS = np.where((df_curid.NIVEL_NEXUS == "Inicial - Jardín") | (df_curid.NIVEL_NEXUS == "Inicial - Jardín")| (df_curid.NIVEL_NEXUS == "Inicial - Cuna"),1,np.where(df_curid.NIVEL_NEXUS == "Primaria",2,np.where(df_curid.NIVEL_NEXUS == "Secundaria",3,4)))
df_curid.ESCALA = np.where(df_curid.ESCALA == 1,1,np.where(df_curid.ESCALA == 2,2,np.where(df_curid.ESCALA == 3,3,np.where(df_curid.ESCALA == 4,4,np.where(df_curid.ESCALA == 5,5,np.where(df_curid.ESCALA == 6,6,np.where(df_curid.ESCALA == 7,7,-1)))))))

c:\Users\ccuro\AppData\Local\Programs\Python\Python37\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [136]:
print(df_curid["ESCALA"].value_counts())
print(" ")
print(df_curid["condicion_laboral"].value_counts())
print(" ")
print(df_curid["DAREACENSO"].value_counts())
print(" ")
print(df_curid["NIVEL_NEXUS"].value_counts())
print(" ")
print(df_curid["SEXO"].value_counts())

 1    585
 2    288
 3    220
 4    115
 5     49
-1     12
 6     12
 7      1
Name: ESCALA, dtype: int64

1    806
2    476
Name: condicion_laboral, dtype: int64

1    1239
0      43
Name: DAREACENSO, dtype: int64

2    1263
3      13
1       5
4       1
Name: NIVEL_NEXUS, dtype: int64

2    649
1    633
Name: SEXO, dtype: int64

In [137]:
df_3 = df_curid
df_3

,CUMPLIMIENTO,CONDICION,DESCRIPCION_SUBTIPO_TRABAJADOR,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,...,MAX_FECHA,DNI_CARACTERIZADO,%_E1,%_E2,%_E3,%_E4,DIAS_ACTIVIDAD,NOTA_Inducción_CuestionarioEntrada,NOTA_Cierre_Cuestionariosalida,cursos_matriculados
100,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,2,1,2,1,7,24,...,2022-07-04 11:25:49.000,00082786,0.40,0.0,0.20,0.40,18.0,12.0,-1.0,10.0
143,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,2,1,3,2,7,24,...,2022-07-16 18:49:16.000,00091969,0.00,0.0,0.50,0.50,6.0,10.0,-1.0,6.0
227,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,-1,2,1,2,2,7,24,...,2022-06-18 21:28:54.000,00122254,0.00,0.0,0.75,0.25,34.0,10.0,-1.0,4.0
266,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,1,0,2,1,7,24,...,2022-06-17 09:40:03.000,00186658,0.00,0.0,0.33,0.67,35.0,10.0,-1.0,6.0
279,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,3,1,1,2,1,7,24,...,2022-07-08 13:38:56.000,00225111,0.67,0.0,0.33,0.00,14.0,20.0,-1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29584,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,2,1,1,2,2,7,24,...,2022-07-18 00:00:10.000,80604136,0.00,0.0,0.80,0.20,4.0,12.0,-1.0,5.0
29589,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,2,1,2,1,7,24,...,2022-07-04 11:02:04.000,80608113,0.60,0.0,0.40,0.00,18.0,2.0,-1.0,5.0
29595,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,2,1,2,2,7,24,...,2022-06-17 09:40:18.000,80614600,0.00,0.0,0.50,0.50,35.0,14.0,-1.0,4.0
29597,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,2,1,2,1,7,24,...,2022-07-13 22:36:44.000,80616393,0.00,0.0,0.33,0.67,9.0,14.0,-1.0,3.0
29635,AL MENOS UNA ACTIVIDAD,NO APROBADO,DOCENTE,1,2,1,2,2,7,24,...,2022-06-24 16:31:34.000,80665969,0.00,0.0,0.40,0.60,28.0,6.0,-1.0,5.0

In [47]:
# Data Procesada de entrenamiento
df_2 =pd.read_excel("D:/data/data_entrenamiento_mod02.xlsx",sheet_name="mod02")

In [48]:
df_2.describe()

,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,USUARIO,act_realizada,Porc_act_realizada,DNI_CARACTERIZADO,%_E1,%_E2,%_E3,%_E4,DIAS_ACTIVIDAD,NOTA_InducciÃ³n_CuestionarioEntrada,NOTA_Cierre_Cuestionariosalida,cursos_matriculados
count,4496.000000,4496.00000,4496.000000,4496.000000,4496.000000,4496.0,4496.000000,4496.000000,4496.000000,4496.000000,4.496000e+03,4496.000000,4496.000000,4496.000000,4496.000000,4496.000000,4496.000000,4496.000000,4496.000000
mean,2.266014,1.48532,0.426379,2.113434,1.687055,1.0,291.031806,154512.917260,25.719751,64.750667,2.926239e+07,0.542660,0.014035,0.345031,0.098274,54.446174,10.992512,8.336966,2.211521
std,1.746176,0.49984,0.494605,0.808485,0.463744,0.0,8.085423,154508.695631,17.543811,38.287861,1.860270e+07,0.446525,0.104779,0.425616,0.216341,12.858769,5.659359,9.654643,1.914400
min,-1.000000,1.00000,0.000000,1.000000,1.000000,1.0,280.000000,49.000000,1.000000,2.000000,4.596800e+04,0.000000,0.000000,0.000000,-0.010000,30.000000,-1.000000,-1.000000,1.000000
25%,1.000000,1.00000,0.000000,2.000000,1.000000,1.0,280.000000,37873.000000,10.000000,23.000000,1.669385e+07,0.000000,0.000000,0.000000,0.000000,45.750000,8.000000,-1.000000,1.000000
50%,2.000000,1.00000,0.000000,2.000000,2.000000,1.0,298.000000,101532.000000,25.000000,91.000000,2.896454e+07,0.500000,0.000000,0.000000,0.000000,52.000000,12.000000,-1.000000,1.000000
75%,4.000000,2.00000,1.000000,3.000000,2.000000,1.0,298.000000,222512.750000,48.000000,100.000000,4.212143e+07,1.000000,0.000000,1.000000,0.000000,63.000000,14.000000,18.000000,2.000000
max,7.000000,2.00000,1.000000,4.000000,2.000000,1.0,298.000000,609592.000000,48.000000,100.000000,8.067240e+07,1.000000,1.000000,1.000000,0.870000,82.000000,20.000000,20.000000,11.000000

In [49]:
print(df_2.columns)
print(df_2.shape)

Index(['CLASIFICACION', 'CONDICION', 'DESCRIPCION_SUBTIPO_TRABAJADOR',
       'ESCALA', 'condicion_laboral', 'DAREACENSO', 'NIVEL_NEXUS', 'SEXO',
       'CAMPUS', 'CURID', 'CURSO', 'USUARIO', 'act_realizada',
       'Porc_act_realizada', 'MAX_FECHA', 'DNI_CARACTERIZADO', '%_E1', '%_E2',
       '%_E3', '%_E4', 'DIAS_ACTIVIDAD', 'NOTA_InducciÃ³n_CuestionarioEntrada',
       'NOTA_Cierre_Cuestionariosalida', 'cursos_matriculados'],
      dtype='object')
(4496, 24)

In [50]:
#df_2.to_csv("mod02.csv",sep=",", index=False)

In [51]:
#Seleccionar los datos 
x = df_2.loc[:,['ESCALA','condicion_laboral','DAREACENSO','DAREACENSO','NIVEL_NEXUS','SEXO','Porc_act_realizada','cursos_matriculados','%_E1', '%_E2', '%_E3', '%_E4','DIAS_ACTIVIDAD']]
y = df_2['CLASIFICACION']

In [52]:
y = np.where(y == "no desertor" , 0 , 1)

In [65]:
# El modelo 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2 , random_state=123)

In [66]:
print(x_train.shape)
print(x_test.shape)

(3596, 13)
(900, 13)

In [69]:
# Regresion logistica
from sklearn.linear_model import LogisticRegression
regresion_logistica = LogisticRegression(max_iter=1000)

In [70]:
regresion_logistica.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [138]:
df_3.describe()

,ESCALA,condicion_laboral,DAREACENSO,NIVEL_NEXUS,SEXO,CAMPUS,CURID,USUARIO,act_realizada,Porc_act_realizada,%_E1,%_E2,%_E3,%_E4,DIAS_ACTIVIDAD,NOTA_Inducción_CuestionarioEntrada,NOTA_Cierre_Cuestionariosalida,cursos_matriculados
count,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000,1282.0,1282.0,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000,1282.000000,1282.0,1282.000000
mean,2.022621,1.371295,0.966459,2.007800,1.506240,7.0,24.0,117847.917317,3.146646,12.192668,0.130374,0.003666,0.472738,0.393222,21.291732,13.379875,-1.0,4.661466
std,1.258955,0.483340,0.180116,0.130817,0.500156,0.0,0.0,62834.789441,2.214922,7.952897,0.227346,0.039072,0.211857,0.263258,12.755825,5.561101,0.0,1.347237
min,-1.000000,1.000000,0.000000,1.000000,1.000000,7.0,24.0,43.000000,1.000000,2.000000,0.000000,0.000000,0.110000,0.000000,0.000000,-1.000000,-1.0,1.000000
25%,1.000000,1.000000,1.000000,2.000000,1.000000,7.0,24.0,78834.250000,2.000000,7.000000,0.000000,0.000000,0.330000,0.200000,9.000000,10.000000,-1.0,4.000000
50%,2.000000,1.000000,1.000000,2.000000,2.000000,7.0,24.0,121918.500000,2.000000,7.000000,0.000000,0.000000,0.400000,0.500000,22.000000,14.000000,-1.0,5.000000
75%,3.000000,2.000000,1.000000,2.000000,2.000000,7.0,24.0,149468.250000,4.000000,14.000000,0.250000,0.000000,0.500000,0.600000,35.000000,18.000000,-1.0,5.000000
max,7.000000,2.000000,1.000000,4.000000,2.000000,7.0,24.0,553474.000000,13.000000,42.000000,0.830000,0.670000,1.000000,0.870000,51.000000,20.000000,-1.0,10.000000

In [145]:
# Prueba con el CURID_24
x_curid24 = df_3.loc[:,['ESCALA','condicion_laboral','DAREACENSO','NIVEL_NEXUS','SEXO','Porc_act_realizada','cursos_matriculados','%_E1', '%_E2', '%_E3', '%_E4','DIAS_ACTIVIDAD']]
# y_curid24 = df_3['CUMPLIMIENTO']
# y_curid24 = np.where(y_curid24  =='CULMINARON' , 0 , 1)
# y_curid24

In [61]:
df_3.CUMPLIMIENTO.value_counts()

CULMINARON                7260
AL MENOS UNA ACTIVIDAD    1282
Name: CUMPLIMIENTO, dtype: int64

In [146]:
# Test de datos antiguos
x_test

,ESCALA,condicion_laboral,DAREACENSO,DAREACENSO,NIVEL_NEXUS,SEXO,Porc_act_realizada,cursos_matriculados,%_E1,%_E2,%_E3,%_E4,DIAS_ACTIVIDAD
2173,1,2,1,1,1,2,100,1,1.0,0.0,0.0,0.0,40
3171,1,2,1,1,2,1,100,6,1.0,0.0,0.0,0.0,49
4442,1,2,1,1,1,2,100,3,0.0,1.0,0.0,0.0,70
1638,1,2,0,0,1,2,22,1,0.0,0.0,1.0,0.0,32
1208,5,1,0,0,3,2,23,1,0.0,0.0,1.0,0.0,42
...,...,...,...,...,...,...,...,...,...,...,...,...,...
820,5,1,0,0,2,2,100,1,1.0,0.0,0.0,0.0,38
2525,1,2,1,1,2,2,100,2,1.0,0.0,0.0,0.0,70
2389,1,2,1,1,1,2,37,1,0.0,0.0,1.0,0.0,30
2188,5,2,0,0,2,2,91,1,0.0,0.0,1.0,0.0,40
2600,1,2,0,0,2,1,96,1,1.0,0.0,0.0,0.0,62

In [148]:
x_test.NIVEL_NEXUS.value_counts()

2    407
3    242
1    214
4     37
Name: NIVEL_NEXUS, dtype: int64

In [140]:
#y_pred = regresion_logistica.predict(x_test) # Test con datos del entrenamimento 
y_pred_curid24 = regresion_logistica.predict(x_curid24)

In [141]:
# Visualizar el resultado de aplicar la regresión logistica
#y_pred
y_pred_curid24

array([1, 1, 1, ..., 1, 1, 1])

In [142]:
y_pred_curid24ff = pd.DataFrame(y_pred_curid24,columns=['resultado'])

In [143]:
y_pred_curid24ff.resultado.value_counts()

1    1282
Name: resultado, dtype: int64

In [85]:
dffinal = pd.concat(df_3,y_pred_curid24['resultado'],axis=1)

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [77]:
# Evaluación del modelo 
# from sklearn.metrics import confusion_matrix
# matriz_log = confusion_matrix(y_test, y_pred)
# print(matriz_log)


#Evaluación de clasificación con el modelo para el curid 24 
from sklearn.metrics import confusion_matrix
matriz_log = confusion_matrix(y_curid24, y_pred_curid24)
print(matriz_log)

[[3966 3294]
 [   0 1282]]

In [33]:
# precision_scoreprint modelo anterios
from sklearn.metrics import precision_score
precision = precision_score(y_curid24, y_pred_curid24)

# accuracy_score
from sklearn.metrics import accuracy_score
exactitud = accuracy_score(y_curid24, y_pred_curid24)

# recall_score
from sklearn.metrics import recall_score
sensibilidad = recall_score(y_curid24, y_pred_curid24)
# print('Sensibilidad del modelo:')

# F1 Score
from sklearn.metrics import f1_score
puntajef1 = f1_score(y_curid24, y_pred_curid24)

# ROC - AUC
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_curid24, y_pred_curid24)
gini = roc_auc*2 - 1


print('Matriz Confusion Logistica')
print(matriz_log)
print('Metricas:')
print('')
print('Precisión del modelo:', precision)
print('Exactitud del modelo:', exactitud)
print('Sensibilidad del modelo:', sensibilidad)
print('Puntaje F1 del modelo:', puntajef1)
print('Curva ROC - AUC del modelo:', roc_auc)
print('GINI del modelo:', gini)

Matriz Confusion Logistica
[[3966 3294]
 [   0 1282]]
Metricas:

Precisión del modelo: 0.28015734265734266
Exactitud del modelo: 0.6143760243502693
Sensibilidad del modelo: 1.0
Puntaje F1 del modelo: 0.4376920450665756
Curva ROC - AUC del modelo: 0.7731404958677686
GINI del modelo: 0.5462809917355371

In [55]:
# # precision_scoreprint modelo anterios
# from sklearn.metrics import precision_score
# precision = precision_score(y_test, y_pred)

# # accuracy_score
# from sklearn.metrics import accuracy_score
# exactitud = accuracy_score(y_test, y_pred)

# # recall_score
# from sklearn.metrics import recall_score
# sensibilidad = recall_score(y_test, y_pred)
# # print('Sensibilidad del modelo:')

# # F1 Score
# from sklearn.metrics import f1_score
# puntajef1 = f1_score(y_test, y_pred)

# # ROC - AUC
# from sklearn.metrics import roc_auc_score
# roc_auc = roc_auc_score(y_test, y_pred)
# gini = roc_auc*2 - 1


# print('Matriz Confusion Logistica')
# print(matriz_log)
# print('Metricas:')
# print('')
# print('Precisión del modelo:', precision)
# print('Exactitud del modelo:', exactitud)
# print('Sensibilidad del modelo:', sensibilidad)
# print('Puntaje F1 del modelo:', puntajef1)
# print('Curva ROC - AUC del modelo:', roc_auc)
# print('GINI del modelo:', gini)

NameError: name 'y_pred' is not defined

In [ ]:
#model.fit(X_train, Y_train)
# save the model to disk
filename = 'modelo-1.sav'
pickle.dump(regresion_logistica, open(filename, 'wb'))
 
# load the model from disk
#loaded_model = pickle.load(open(filename, 'rb'))
#result = loaded_model.score(X_test, Y_test)

XG-BOOST

In [26]:
import xgboost as xgb

In [27]:
mod_xgb = xgb.XGBClassifier(objective='binary:logistic', n_estimators=100, seed=123, verbosity = 2 )
mod_xgb.fit(x_train, y_train)

ValueError: feature_names must be unique